*{
	box-sizing: border-box;
}

body{
	/*background-image : url("back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;*/
	background-color: rgb(51, 51, 104);
}

.maindiv{
	background-image : url("../images/image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 95%;
	margin: 10px auto;
	border-radius: 25px;
	opacity: 0.9;


}

.center {
	margin-left: auto;
	margin-right: auto;
  }



.title1{
	text-align: center;
	color: yellow;
	text-shadow: 6px 6px 10px #6600cc;
	font-weight: bolder;
	font-size: 40px;
}




table {
	border-collapse: collapse;
}
th {
	background-color:green;
	Color:white;
}
th, td {
	width:300px;
	text-align:center;
	border:1px solid black;
	padding:5px
  
}
.geeks {
	border-right:hidden;
}
.gfg {
	border-collapse:separate;
	border-spacing:0 15px;
}
h1 {
	color:green;
}





@media (max-width: 700px){
	
	#wl{
		float:left;
	}

	#fs{
		float: left;
	}
	#vo{
		float: left;
	}
	
	#button2{
		margin-right: 10px;
	}
	#topay{
		float: left;

		}
	
	#toship{
		float: left;
		
	}
	
	
	#torec{
		float:right;

		
	
	}
	#tocan{
		
		float:right;

	}

	#mess{
		float: left;
	}
	#pao{
		float: left;
	}


}
	





	
	



